version: '3.1'

services:
  etcd:
    image: bitnami/etcd:latest
    restart: always
    container_name: etcd
    env_file:
      - env
    ports:
      - "2379:2379"
      - "2380:2380"
    volumes:
    - "./data:/opt/bitnami/etcd/data"






