version: '3.1'

services:
  redis:
    image: redis:6.2.13-alpine3.18
    restart: always
    container_name: redis
    env_file:
      - env
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data:rw
    command:
      redis-server

